<!-- Input Field -->

<app-input></app-input>

<!-- Property Binding -->

<app-binding></app-binding>


<!-- Directives -->

<app-directive></app-directive>



<!-- Logical Opeartor /  TrackBy / pipes in Angular -->

<app-logical-trackby></app-logical-trackby>


<!-- Routing -->

<app-routing></app-routing>



<!-- BootStrap -->

<app-bootstrap></app-bootstrap>

<!-- Template Form -->


<h2>Template Form</h2>
<app-template-form></app-template-form>

<!-- Reactive Form -->

<h2>Reactive Form</h2>
<app-reactive-form></app-reactive-form>


 <app-logins [loginTitle]="website.loginTitle"></app-logins>
 <router-outlet></router-outlet>